// Variables

$spacing-mini: 5px;
$spacing-box: 10px; // for box-like spacing, like button padding
$spacing-para: 15px; // for vertical rhythm, e.g. bottom margin for p, img, togglers, boxes, etc.

$color-danger: #F00; // red
$color-input-border: #d4d4d4; // gray
$color-link: #00F; // blue

$base-font-family: sans-serif;
$base-font-size: 14px;
$base-border-input: 1px solid $color-input-border;
$base-border-radius: 3px;

$color-link: #075899; // blue
$color-igadget-primary: #B03B01; // dark orange

$color-logo-gradient-begin: #C14102;
$color-logo-gradient-end: #C14102;

$color-header-gradient-begin: #852201;
$color-header-gradient-end: #6a1b00;

$color-shadow: rgba(0, 0, 0, 0.9);

$color-link-main: #fff; 



